body
{
	background-color: #4D8DDB;
	color: #000000;
}

h1 
{
	background-color: #0C5DBE;
	color: #9EC4F2;
	font-family: Arial;
	font-size: 36pt;
    font-weight: bold;
	text-align: center;
    padding: 10px;
}

#description_selling
{
	color: #9EC4F2;
	width: 550px;
	float: left;
	font-size: 16pt;
	font-weight: bold;
	font-family:  Arial;
	padding: 1px;
}

footer {
    line-height:30px;
    background-color:#0C5DBE;
	color: #9EC4F2;
    height:50px;
    width:1250px;
    float:left;
    padding:5px;	
	text-align: center;
}

#space {
    color: white;
}

/*http://stackoverflow.com/questions/4383460/dont-change-link-color-when-a-link-is-clicked*/
a:link{
  color:white;
}
a:visited{
  color:white;
}
a:hover{
  color:orange;
}
a:focus{
  color:green;
}
a:active{
  color:red;
}

form{
	color: black;
	background-color: white;
	font-family: Arial;
	font-size: 12pt;
    font-weight: bold;
	text-align: left;
	float: left;
}
table th{
	border: 2px solid black;
	text-align: center;
	background-color: white;
	color: black;
}
div>table {
  float: left
}
caption{
	border: 2px solid black;
	text-align: center;
	background-color: white;
	color: black;
	width: 400px;
	
}
table td{
	border: 2px solid black;
	padding: 5px 5px;
	color: black;
	text-align: left;
	background-color: white;
}